body{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: grey;
}
.stopwatch{
  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:50px;
  background-color:white;
  padding:30px
}
.display{
  font-size:5rem;
  font-family: monospace;
  font-family:bold;
  color:black;
  text-shadow:2px 2px 2px black;
  margin-bottom:25px;
}
.controls-button{
  font-size:1.5rem;
  font-weight:bold;
  padding:10px 20px ;
  margin:5px;
  min-width:125px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  color:white;
  transition:background-color 0.5s ease;
}
.start-button{
  background-color: green;
  border: size 20px;
}
.start-button:hover{
  background-color: yellow;
}
.stop-button{
  background-color: red;
}
.stop-button:hover{
  background-color: violet;
}
.reset-button{
  background-color: blue;
}
.reset-button:hover{
  background-color: purple;
}