#countLabel{
    display:block;
    text-align: center;
    font-size:10em;
    font-family:Helvetica;
}
#btnContainer{
    text-align:Center;
}
.button{
    padding: 10px 20px;
    font-size : 1.5em;
    color: white;
    background-color: blue;
    cursor:pointer;
    transition: background-color 0.25s;

}
.button:hover{
    background-color:skyblue;
}